<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sample Website</title>
	<link rel="stylesheet" href="css/style.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<style>
	*{background-color: orange; color: #fff; font-family: verdana}
	.container{margin: 0 auto; max-width: 400px;}
</style>

<body id="home">
	<div class="container">
		<h1>Welcome to this EJS page</h1>
		<p>lorem ipsum dolor amet que avir enzo diez!</p>
	</div>

</body>
</html>