<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sample Website</title>
	<link rel="stylesheet" href="css/style.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<style>
	*{background-color: green; color: #fff; font-family: verdana}
	.container{margin: 0 auto; max-width: 400px;}
</style>

<body id="home">
	<div class="container">
		<h1>Welcome to <%= stores.name%></h1>
		
		<img src="https://lh3.googleusercontent.com/proxy/kU0t007fvVVreOKkwQLoMsJ28v13WYf3nknSKZB3N8NvIqBuQtXuFkI_Ie8MktGreu_uwJb5XdJTm167MES5zKJWj6rmCEB0hdrz" height="300" width="300"/>
		<p>We are located at <%= stores.address%></p>
		<br/>
		<p>Your current url route: <%= route%></p>
	</div>

</body>
</html>